@charset "utf-8";

@font-face {
  font-family: 'Roobert Regular';
  src: url("../font/Roobert-Regular.woff2") format("woff2");
}

// Global variables overwrite
$family-sans-serif: 'Roobert Regular', 'Roobert', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/*! bulma.io v0.8.2 | MIT License | github.com/jgthms/bulma */
@import "../node_modules/bulma/sass/utilities/_all.sass";

@import "../node_modules/bulma/sass/base/_all.sass";

@import "../node_modules/bulma/sass/helpers/_all.sass";

@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";

@import "../node_modules/bulma/sass/form/_all.sass";

// @import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";

// @import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

// @import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/components/card.sass";

@import "../node_modules/bulma/sass/form/_all.sass";

/*! bulma-slider v2.0.4 | MIT License | github.com/Wikiki/bulma-slider */
@import "./slider.sass";

.transparency {
  background-color: rgba(0, 0, 0, 0);
}

.tags a.tag span:first-child {
  margin-right: 5px;
}

#messages .card-content {
  overflow: auto;
  max-height: 80vh;
}

.currently-reading-message {
  border-color: $green;
  border-style: solid;
}
